<div class="container">
  <div class="row">
    <div class="col-md-12">
       <input [(ngModel)]="name" type="text">
          <div [ngSwitch]="name">
            <h4 class="myc">Your Selection :-</h4>
            <div *ngSwitchCase="'1'"><h1>Monday</h1></div>
            <div *ngSwitchCase="'2'"><h1>Tuesday</h1></div>
            <div *ngSwitchCase="'3'"><h1>Wednesday</h1></div>
            <div *ngSwitchCase="'4'"><h1>Thrusday</h1></div>
            <div *ngSwitchCase="'5'"><h1>Friday</h1></div>
            <div *ngSwitchCase="'6'"><h1>Saturday</h1></div>
            <div *ngSwitchCase="'7'"><h1>Sunday</h1></div>
          <div *ngSwitchDefault class="jumbotron"><h1>Please select Between 1 to 7</h1></div>
        </div>
    </div>
  </div>
</div>