<img src="./assets/img/pearl.jpg" alt="">
<h1>PEARL</h1>
<p>
  PEARL, or Process and experiment automation realtime language, is a computer programming language designed for
  multitasking and real-time programming. Being a high-level language, it is fairly cross-platform. Since 1977, the
  language has been going under several standardization steps by the Deutsches Institut für Normung. The current version
  is PEARL-90, which was standardized in 1998 as DIN 66253-2.

  PEARL is not to be confused with the similarly named Perl, an entirely unrelated programming language created by Larry
  Wall in 1987.
</p>