<div class="textbox" >
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>

  <div>
    <ng-template [ngIf] = "isVisible">
</ng-template>
  </div>
 <div class="row">
  <div class="col-md-12">
    <div class="bg-success" [ngSwitch]="day">
      <div *ngSwitchCase="1"> Monday</div>
      <div *ngSwitchCase="2">Tuesday</div>
      <div *ngSwitchCase="3">Wedensday</div>
    <div *ngSwitchCase="4">thursday</div>>
      <div *ngSwitchDefault>
      </div>
    </div>
  </div>
  <input type="button" class="btn btn-info" value="One" (click)="day=1" />
  <input type="button" class="btn btn-info" value="Two" (click)="day=2" />
  <input type="button" class="btn btn-info" value="Three" (click)="day=3" />
  <input type="button" class="btn btn-info" value="Four" (click)="day=4" />
</div>